.footer__link-cell {
  margin-right: 18px;
}

.footer__link-cell:last-child {
  margin-right: 0;
}

@media screen and (max-width: 585px) {
  .footer__link-cell {
   margin-bottom: 32px;
  }
}

.footer__link-cell:last-child {
  margin-bottom: 0;
 }
