.intro {
  max-width: 690px;
  margin: 0;
  padding-left: 148px;
}

@media screen and (max-width: 320px) {
  .intro {
      padding-left: 0;
      margin-top: 64px;
      margin-left: 16px;
      margin-right: 16px;
  }
}
